# Virtual environment
nsga_venv/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temp files
*.tmp
*.temp

